*{
	box-sizing: border-box;
}

.calculator{
	display: flex;
	width: 400px;
	height: 580px;
	margin: auto;
	background-color: black;
	flex-wrap: wrap;
	flex-direction: column;
	border: 1px solid black;
}
.viewing-screen{
	height: 15%;
	background-color: black;
	color: white;
	font-family: "Courier New", "Courier";
	font-size: 40px;
	text-align: right;
	padding: 20px 5px;
	border: 1px solid black;

}
.calculator-buttons{
	height: 85%;
}
.row{
	display: flex;	
	height: 20%;
	justify-content: space-between;
	align-items: flex-end;
}
.button{
	height: 97.5%;
	background-color: #d8d9db;
	align-items: center;
	font-size: 40px;
	font-family: "helvetica";
	color: black;
	cursor: pointer;
	border: 1px solid black;
	width: 24.4%;
}
.button:hover{
	background-color: #ebebeb;
}
.button:active{
	background-color: #bbbcbe;
}
.button:last-child{
	background-color: #df974c;
	color: white;
}
.button:last-child:hover{
	background-color: #dfb07e;
}
.button:last-child:active{
	background-color: #dd8d37;
}

.half{
	width: 49.6%;
}
.three-quarters{
	width: 74.8%;
}